/*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

 */
.grid_5 {width: 295px; height:80px;}
.grid_6_left {width: 150px; height:100px; }
.grid_6_right {width: 150px; height:100px; }
.grid_6 { width: 600px; height: 100px; }
.grid_7_left { width: 290px; height: 100px;}
.grid_7_right { width: 290px; height: 100px; }
.grid_8 { width: 600px; height: 100px; }
.grid_9 { width: 615px; height: 500px; }
.grid_10 { width: 800px; height: 100px; }
.grid_11 { width: 1000px; height: 200px; }
.grid_12 { width: 1000px; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5 {
	margin:auto;
	display: block;
	padding-top: 10px;
}
.grid_6 {
	margin: auto;
}
.grid_6_right {
	float:right;
}
.grid_6_left {
	float:left;
}
.grid_7_right {
	float: right;
}
.grid_7_left {
	float: left;
}
.grid_8 {
	padding-left: 195px;
	padding-right: 200px;
	margin: auto;
	display: block;
}
.grid_9 {
	margin: auto;
	display: block;
}
.grid_10 {
	margin-top: 75px;
	float: left;
	display: block;
	font-size: 35px;
}

.grid_11 {
	margin: auto;
	display: block;
}

.grid_12 {
	margin: auto;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.container{
	width: 1000px; 
	margin: auto;
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}